.side-nav .nav-menu {
  padding: 2rem 1rem;
  list-style: none;
}
.navSection {
  background-color: #ff6b62;
  min-height: 100%;
  border-radius: 0 30px 0 0;
}

.navSection ul li {
  transition: all.2s ease-in-out;
}
.navSection ul li:hover {
  color: #ff6b62;
  background-color: #5852af;
  border-radius: 12px;
  cursor: pointer;
}
.navSection .nav-item a span {
  padding: 0.2rem;
}

.navSection .nav-item a {
  text-decoration: none;
  color: #fff;
  font-size: 0.9rem;
  font-weight: bold;
  width: 100%;
  display: block;
  padding: 1rem 0.3rem;
}

.sidebar {
  background-color: #5852af;
}
